@charset "utf-8";
/* CSS Document */


.topNav{
	z-index: 999;
	position: absolute;
	padding: 10px;
	margin-top:0px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.001);
}
.navLogo{
	float:left;
	margin:auto 0;
	height:80px;
	margin-left:0px;
}
.navContent{
	float:right;
	margin:auto 0;
	padding: 10px 0px;
}
.navContent > ul{
	list-style: none;
	display: inline-flex;
	text-align:center;
	margin-bottom:0px;
	
}
.topNavHome .searchBox
{
	display:none;
}
.topNavHome .navContent{
	padding 20px 0px;
}
.companydetail .topNav, .contactuss .topNav{
	padding-top:0px;
	margin-top:0px;
}
.topNav img{
	filter: brightness(0) invert(1);
}
.btn:focus, .btn:hover{
	color:#fff !important;
}
.navContent > ul > li{
	padding:0px 15px;
	line-height:24px;
	margin:auto 0;
	
}
.navContent > ul > li:last-child{
	padding-right:0px;
}
.navContent > ul > li > a{
	color:#fff;	
}
.navContent > ul > li > input{
	border:1px solid #fff;
	background:none;
	color:#fff;
	border-bottom-left-radius:40px;
	border-top-left-radius:40px;
	border-bottom-right-radius:40px;
	border-top-right-radius:40px;
	height:54px;
	width:370px;
}
.navContent > ul > li > button{
	border:1px solid #fff;
	border:none;
	border-left:none;
	border-bottom-right-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:1px;
	border-top-left-radius:1px;
	background:none;
	margin-left:-50px;
	color:#fff;
	height:54px;
    padding-right: 10px;
	margin: 0;
	float: right;
	padding-right: 21px;
	margin-left: -60px;
}
.smallmenu{
	width:200px;
	position:absolute;
	z-index:1000;
}
.smenu{
	padding:0px;
	font-weight:500;
}
.smenu a{
	color:#ccc;
}
.smenu > ul{
	padding:0px !important;
}
.smenu ul > li:nth-child(2n+1){
	background:#F0F0F0;
}
.smenu ul > li:hover{
	background:#6f93f9 !important;
	color:#fff !important;
}
.smenu ul > li:hover > a{
	color:#fff !important;
}
#banner{
	min-height:600px;
	text-align:center;
	background-image:url(../assets/boss-fight-free-high-quality-stock-images-photos-photography-windows-building-clouds.png);
	background-size:cover;
	text-align:center;
	color:#fff;
}
#companyBanner{
	height:400px;
	text-align:center;
	background-image:url(../images/banner.jpg);
	background-size:cover;
	text-align:center;
	color:#fff;
}
.dropdown-menu{
	left:84%;
	top:80%;
}

#aboutBanner{
	height:800px;
	background-image:url(../assets/bgAbout.png);
	background-size:cover;
	text-align:center;
	color:#fff;
}
#contactForm{
	height:500px;
	background-image:url(../assets/rectangle-22@2x.jpg);
	background-size:cover;
}
.contactForm{
	border-radius:16px;
}

#aboutBanner .companyIntro{
	top:10em;
}
.listAbout{
	float:left;
}
.listAboutItem{
	width: 31%;
    margin: 40px 13px 15px 13px;
	padding:50px 20px;
	float:left;
	border-radius:16px;
}
.listAboutItem img{
	filter: brightness(0) invert(1); 
}
.searchInfo{
	padding-top:200px;
	padding-bottom:50px;
	margin:0 auto;
}
.searchInfo > input{
	border-bottom-right-radius:unset !important;
	border-top-right-radius:unset !important;
	margin:20px 0 15px 0;
	border:hidden;
	width:50%;
	font-size:16px;
	line-height: 21px;
	color: #000;
	height:64px;
}
.searchInfo > button{
	border-bottom-left-radius:unset !important;
	border-top-left-radius:unset !important;
	background:#1046f1;
	margin-left:-7px;
	border:hidden;
	color:#fff;
	padding:22px 44px;
	height:65px;
}
.searchInfo img{
	color:#fff;
	filter: invert(1) sepia(1) saturate(1);
}
.searchInfo > p{
	color:#fff;
	width:60%;
	margin:auto;
}
.navdown{
	padding: 12px 14px;
	font-size: 24px;
	border-radius: 50%;
	border: solid #CCC thin;
	color:#fff !important;
	font-weight:200;
}
.navdown:hover{
	color:#fff;
}
.navdown img{
	width:24px;
	height:24px;
	transform:rotate(270deg);
	filter: invert(1) sepia(1) saturate(0);
}

#about, #subMenu, #companyInfo
{
	padding-top:80px;
	padding-bottom:80px;
}
#companyInfo
{
	padding-top:10px;
	padding-bottom:80px;
}
#footer{
	padding-top:80px;
	padding-bottom:0;
	background:#f8f9fb;
}
#category{
	background:#e8eaef;
	padding:60px 0px;
}
.catContainer{
}
.catItem{
	width:22%;
	padding:25px 0px;
	border-radius:25px;
	background:#fff;
	float:left;
	margin:10px 16px;
	
}
.catItem img{
	width:45px;
	/*filter: brightness(0) invert(1);*/
	filter: invert(1) sepia(1) saturate(141) hue-rotate(191deg);
}
.catItem h6{
	clear:both;
	font-weight:400;
	font-size:21px;
}
.lastChildCatItem{
	border:2px dashed #ccc;
	color:#ccc !important;
}
.lastChildCatItem:hover{
	cursor:pointer;
}
.lastChildCatItem h6{
	color:#ccc !important;
}
.lastChildCatItem svg{
	color:#ccc !important;
	width:46px;
	font-size:41px;
}
.aboutVision{
	margin:50px;
}
.aboutVisionContent{
	width:50%;
	height:450px;
	float:left;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
}
.aboutVisionContentItemi{
	padding-top:45%;
	padding-left:5%;
	padding-right:5%;
	width:100%;
	height:100%;
	text-align:left;
	color:#fff;
	background-size:cover !important;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
}
.aboutVisionContentItemi > a{
	padding:7px 50px;
	border-radius:12px;
	background:#1046f1;
	color:#fff;
	text-decoration:none;
}
.aboutVisionContentItemi p{
	color:#fff;
}
.aboutVisionNav{
	width:50%;
	margin-left:-5px;
	height:450px;
	float:left;
	border-bottom:none;
}
.aboutVisionNavItem{
	height:150px;
	padding:10px 40px;
	vertical-align:middle;
	color:#fff;
	text-align:left;
	width:100%;
}
.aboutVisionNavItem h5 a{
	color:#fff;
	text-decoration:none;
}
.aboutVisionNavItem p{
	color:#fff;
	text-decoration:none;
}
.aboutVisionNavItem:nth-child(1)
{
	border-top-right-radius:10px;
}
.aboutVisionNavItem:nth-child(3)
{
	border-bottom-right-radius:10px;
}
.aboutVisionNavItemi{
	margin:20px 0;
	vertical-align:middle;
}
.aboutSmartContainer{
	padding:30px 0px 0px 0px;
}
.aboutSmartItem{
	width:33.33333%;
	margin:10px 0px;
	padding:12px 12px;
	float:left;
	height:450px;
}
.aboutSmartContent{
	padding:40px 8px 8px 8px;
	border-radius:10px;
	height:450px;
}
.aboutSmartContent > img{
	filter: invert(1) sepia(1) saturate(1) grayscale(1);
}
.aboutSmartContent p{
	display:none;
}
.aboutSmartContent:hover{
	color:#1046f1;
	box-shadow: 0px 0px 36px -14px rgba(0,0,0,0.4);
}
.aboutSmartContent:hover img{
	filter: invert(1) sepia(1) saturate(141) hue-rotate(191deg);
}
.aboutSmartContent:hover p{
	display:block;
}
.aboutSmartContent h2{
	padding-top:18px;
	padding-bottom:3px;
	text-transform:uppercase;
}
.aboutSmartContent h5{
	padding-top:3px;
	padding-bottom:18px;
	font-size:15px;
	color:#000;
}
.aboutSmartContent p{
	padding-top:3px;
	padding-bottom:18px;
	font-size:18px;
	line-height:27px;
	color:#000;
	font-weight:400;
}
.aboutStatistic{
	background:#f8f9fb;
	text-align:center;
	padding:40px 0px;;
}
.aboutStatisticItem{
	width:25%;
	margin:10px 0px;
	padding:12px 15px;
	float:left;
}
.aboutStatisticContent{
	padding:12px;
	float:left;
	background:#fff;
	border-radius:8px;
	box-shadow: 0px 7px 18px -8px rgba(0,0,0,0.75);
	
}
.aboutStatisticContent:hover{
	color:#1046f1;
	background:#fff;
}
.aboutStatisticContent h2{
	padding-top:0px;
	padding-bottom:5px;
	text-transform:uppercase;
	margin-top:3px;
	margin-bottom:3px;
	float:left;
	width:100%;
}
.aboutStatisticContent > h5{
	padding-top:3px;
	padding-bottom:0px;
	margin-top:3px;
	margin-bottom:3px;
	font-size:18px;
	color:#999;
	text-transform:uppercase;
	float:left;
	text-align:left;
	width:100%;
}
.aboutStatisticContent > img{
	float:right;
	margin-right:12px;
	margin-bottom:12px;
	width:48px;
	filter: invert(.5) sepia(.5) saturate(1) grayscale(1);
}
.aboutStatisticContent > p{
	padding-top:3px;
	padding-bottom:18px;
	font-size:15px;
	color:#000;
}
.customer{
	padding:60px 0px;
	text-align:center;
}
.customerNav{
	width:60%;
	margin:0 auto;
	display:block;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:none;
}
.customerNav h7{
	padding:10px 20px;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-top:3px solid #fff;
	float:left;
	width:33%;
	cursor:pointer;
	font-weight:600;
}
.customerNav h7:hover{
	border-top:3px solid #1046f1;
	color:#1046f1;
}

.customerNav h7.active:hover{
	border-top:3px solid #1046f1;
	color:#1046f1;
}
.customerPanel{
	margin-top:30px;
	margin-bottom:20px;
	float:left;
	width:100%;
}
#ourCustomer, #ourPartner{
	background:url(../assets/map.png) no-repeat;
	background-size:cover;
}
#ourReview{
	float:left;
}
.reviewSlick{
	float:left;
	width:100%;
}
.reviewSlick2{
	float:left;
	width:100%;
}

.reviewSlick2 > .reviewDiv{
	left:50px;
}
#ourCustomer img,#ourPartner img{
	width:10%; margin:80px 70px;
}
.reviewDiv{
	max-width:700px;
	background:#fff;
	box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.2);
	float:left;
	padding:50px 30px 50px 60px;
	margin:10px 15px;
}
.reviewAva{
	width: 10%;
	min-width:100px;
	border-radius: 50%;
	float: left;
	display: block;
	margin: auto 0;
	vertical-align:middle;
}
.reviewAva img{
	width:100px;
	height:100px;
	border-radius: 50%;
	margin: auto 0;
	vertical-align:middle;
}
.reviewContent{
	width:83%;
	float:left;
	vertical-align:middle;
	text-align:left;
	padding-left:20px;
}
.reviewContent img{
	float:left;
}
.reviewContent h7{
	font-size:24px;
	line-height:36px;
	vertical-align:middle;
	font-weight:600;
	color:#333;
	float:left;
}
.listSubMenu{
	display:inline-flex;
	list-style:none;
	margin-left:30px;
	vertical-align:middle;
	margin-bottom:0px;
}
.listSubMenu li{
	padding:6px 16px;
}
.listSubMenu a{
	color:#333333;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:600;
}
.footerItem{
	padding:50px 0px;
}
.footerItem:nth-child(1){
	background:#f8f9fb;
	padding-bottom:60px;
	padding-top:40px;
}
.footerItem:nth-child(2){
	background:#e8eaef;
	vertical-align:middle;
	padding:5px 0px;
}
.footerItem:nth-child(1) input{
	vertical-align:middle;
	margin:0 15px;
	border:1px solid #E8EAEF;
	float:left;
	width:90%;
}
.footerItem:nth-child(1) button{
	vertical-align:middle;
	padding:10px 16px;
	margin-left:-70px;
	float:left;
	width:20%;
	background:none;
	color:#06c;
}
.footerItem:nth-child(2) h6{
	color:#fff;
	display:inline;
	vertical-align:middle;
	text-transform:uppercase;
}
.footerItem img{
	/*width:20%;*/
}

.footerCol{
	width:33.33333%;
	padding:20px;
	float:left;
	margin:10px 0px;
}
.footerColContent{
	padding:0px;
}
.footerColContent > input{
	border:thin solid #F8F9FB;
	padding:12px 30px 12px 15px;
	line-height:14px;
	width:80%;
}
.footerColContent > button{
	background:none;
	margin-left:-52px;
	border:hidden;
	color:#000;
	padding:12px 14px;
}
.footerColContent > button > img{
	transform:rotate(180deg);
}
.footerColContent > h4{
	font-size:18px;
	font-weight:600;
	text-transform:uppercase;
	color:#666;
}
.footerColContent > p{
	font-size:12px;
	color:#666666;
}
.footerLeftContent{
	width:30%;
	float:left;
	vertical-align:middle;
}
.footerLeftContent > p{
	line-height:45px;
}
.footerLeftContent img{
	filter: invert(.5) sepia(.5) saturate(1) grayscale(1);
}
.footerRightContent{
	width:70%;
	float:left;
	vertical-align:middle;
}
.linkWith img{
	filter: grayscale(0);
	margin-left:6px;
}
.guideNav{
	float:right;
	margin-top:130px;
}
.guideNav > a{
	color:#fff;
}
.closeButton{
	top: 10px; 
	right: 10px; 
	position: absolute; 
	opacity:0.8; 
	font-size:28px;
	height:auto;
}
#forgot .modal-footer a{
	font-weight:600;
	float:right; 
	margin-bottom:10px;
	
}
#forgot .modal-footer button{
	width:46%;
	
}
#forgot .returnButton{
	margin-right:10px;
	float:left;
}

#forgot .returnButton:hover{
	color:#000 !important;
	border:1px solid #666;
}
#forgot .nextButton{
	margin-left:10px;
	float:right;
}
.companyIntro{
	padding:10px 10px 20px 20px;
	float:left;
	/*top: 17em;
	position:absolute;*/
}
.companyIntroduce{
	padding:10px 10px 20px 20px;
	float:left;
	top: 17em;
	position:absolute;
}
.companyIntroAvatar
{
	float:left;
	padding-right:1rem;
}
.companyIntroAvatar > img
{
	border-radius:16px;
}
.companyName{
	float:left;
	padding-left:1rem;
	text-align:left;
	color:#fff;
	line-height:16px;
	vertical-align:middle;
}
.companyName > h3{
	margin-top:8px;
}
.companyName > p{
	color:#fff;
	line-height:16px;
	padding-bottom:6px;
	padding-top:6px;
	font-weight:200;
}

.companyName > a{
	color:#fff;
	text-align:center;
	height:60px;
}
.companyName > .messenger{
	padding:7px 25px;
	background:#1046f1;
	color:#fff;
	text-align:center;
	border:none;
	border-radius:40px;
}
.companySlideNav > ul > li{
    padding: 8px 20px;
    border-top: 3px solid #fff;
	color:#1046f1;
}
.companySlideNav > ul > li > a{
	color:#1046f1;
	font-size:16px;
}
.companySlideNav > ul > li:hover{
    border-top: 3px solid #1046f1;
}

.companySlideNav > .list-inline > .active{
    border-top: 3px solid #1046f1 !important;
}
.companyInfoContent{
	padding:20px 40px;
	color:#515151;
}
.companyInfoContent > .description{
	text-align:justify;
}
.item
{
	padding-left:8px;
	padding-right:8px;
}
.slick-prev::before, .slick-next::before {

    font-family: 'slick';
    font-size: 28px;
    line-height: 1;
    opacity: .75;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.slick-list{
	margin:20px;
}
.topNavWhite{
	background:rgba(255,255,255,1);
	margin-top:0px;
	color:#000 !important;
	box-shadow: 0px 3px 18px -10px rgba(0,0,0,0.5);
	padding-top:00px;
}
.topNavWhite > .topNav{
	background:rgba(255,255,255,1);
	margin-top:0px;
	padding-top:00px;
	color:#000 !important;
	box-shadow: 0px 3px 18px -10px rgba(0,0,0,0.5);
}
.topNavWhite .navContent > ul > li > a{
	color:#000;	
}
.topNavWhite .navContent > ul > li > a:hover{
	color:#000 !important;	
}
.topNavWhite .navContent > ul > li > a:focus{
	color:#000 !important;	
}
.topNavWhite img{
	filter: invert(1) sepia(1) saturate(1);
}

.topNavWhite .imgSVG{
	filter: none;
}
#subTitle{
	color:#000;
}
#subTitle .guideNav{
	color:#1046f1;
	margin-right:40px;
}
#subTitle .guideNav > a{
	color:#1046f1;
	font-weight:700;
}
#subTitle .pageTitle{
	margin-top:115px;
}
.mainContent{
	margin:0 auto;
	width:70%;
	padding:40px 0px;
}
.termContent{
	padding:40px 0;
}
.leftColTerm{
	width:15%;
	float:left;
}
.rightColTerm{
	width:85%;
	float:left;
	padding:0 0 0 30px;
}
.topNavWhite .navContent > ul > li > input{
	border:1px solid #e8eaef;
	background:none;
	color:#000;
	border-bottom-left-radius:40px !important;
	border-top-left-radius:40px !important;
	border-bottom-right-radius:40px;
	border-top-right-radius:40px;
	height:54px;
	box-shadow:none !important;
     outline:none !important; 
     -webkit-box-shadow:none !important;
	width:370px;
}
.topNavWhite .navContent > ul > li > input:focus:hover{
	box-shadow:none !important;
     outline:none !important; 
     -webkit-box-shadow:none !important;
}
.topNavWhite img{
	filter: none;
}
.topNavWhite .navContent > ul > li > button{
	border:1px solid #000;
	border-left:none;
	border:none;
	border-bottom-right-radius:40px !important;
	border-top-right-radius:40px !important;
	border-bottom-left-radius:1px;
	border-top-left-radius:1px;
	background:none;
	color:#000;
	height:54px;
	box-shadow:none !important;
    outline:none !important; 
    -webkit-box-shadow:none !important;padding: 10px;
    padding-right: 10px;
	margin: 0;
	float: right;
	padding-right: 21px;
	margin-left: -51px;
}
.aboutBlock1{
	background:#f8f9fb; 
	padding-left:13%; 
	padding-right:13%; 
	padding-bottom:20px;
}
.aboutBlock2{
	background:#fff; 
	padding-top:120px; 
	padding-bottom:60px; 
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 42%); 
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 42%);
}
.aboutBlock2 img{
	margin-left:12px;
}
.leftColAbout{
	width:70%; 
	float:left;
	margin-top:-160px; 
	padding:20px;
}
.rightColAbout{
	width:30%; 
	float:right; 
	margin-top:-360px; 
	padding:0px 30px;
}
.rightColAbout p{
	font-size:14px; line-height:21px; color:#999;
	margin-bottom:55px;
}
.rightColAbout img{
	width:100%;
	border-radius:16px;
	margin-bottom:16px;
}
.contactForm{
	box-shadow: 0px 3px 18px -10px rgba(0,0,0,1); float:left; height:900px;
}
.staContent{
	float:left; width:100%; margin-bottom:55px; margin-top:20px;
}
.staContent2{
	margin-top:30px;
	float:left;
}
.staItem{
	 background:#fff; float:left; border-radius:10px; margin-right:20px;box-shadow: 0px 3px 18px -10px rgba(0,0,0,0.75);
}

.staItem:nth-child(4){
	 background:#fff; float:left; border-radius:10px; margin-right:0px;box-shadow: 0px 3px 18px -10px rgba(0,0,0,0.75);
}
.titleSta{
	float:left; width:100%; margin:20px 0px 5px 35px;
}
.smallStaNumber{
	width: 20px;border: 5px solid #fff;border-radius: 50%;height: 20px;position: relative;box-shadow: 0px 7px 18px -8px rgba(0,0,0,0.75);
}
.staImgBG{
	border-radius:10px;
}
.numberSta{
	float:left; margin-left:35px;
}
.contactLeft{
	background:#1046f1; width:50%; float:left; padding:40px; color:#fff; border-bottom-left-radius:16px; border-top-left-radius:16px; height:900px;
}
.contactLeft a{
	color:#fff;
	font-weight:600;
}
.contactLeft p{
	font-weight:600;
}
.contactLeft a:hover{
	color:#fff;
	font-weight:600;
}
.contactRight{
	background:#fff;; width:50%; float:left; padding:40px 60px; border-bottom-right-radius:16px; border-top-right-radius:16px; height:900px;
}
.contactRight p{
	font-size:18px;
	line-height:27px;
	font-weight:600;
}
.contactRight input[type='text']{
	width:100%;
	border:none;
	background:#f8f9fb;
	margin-bottom:10px;
}
.contactRight textarea{
	width:100%;
	max-width:100%;
	min-width:100%;
	height:150px;
	max-height:150px;
	min-height:150px;
	border:none;
	background:#f8f9fb;
	margin-bottom:10px;
	border-radius:16px;
	padding:15px;
}
.contactRight button{
	width:45%;
	padding:12px 0px;
	background:#1046f1;
	color:#fff;
	text-align:center;
	margin:20px 0px;
	border-radius: 24px;
}
#menuLang{
	display:none;
}
.botLine{
	background:#666;
}
.botLine p{
	color:#fff; font-size:12px; margin-bottom:0;
}
.buttonTrigger{
	border:none !important;
	padding:0 !important;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -1px;
}
.dropdown-submenu .submenu{
	border-radius:5px;
	left:-100%;
}
.submenu > li > a{
	color:#ccc;
	font-weight:500;
}
.submenu > li > a:hover{
	color:#fff;
	background:none;
}
.notiList{
	width:70%;
	margin:40px auto;
}
.notiItem{
	height:60px;
	padding:10px 20px;
	float:left;
	width:100%;
}
.notiItemImg{
	float:left;
	margin-right:20px;
	width:6%;
	min-width:40px;
	max-width:40px;
}
.notiItemImg > img{
	width:40px;
	height:40px;
	border-radius:50%;
}
.notiItemContent{
	float:left;
	width:85%;
}
.notiItemContent h7{
	font-size:14px;
	line-height:21px;
	font-weight:500;
	color:#333;
	width:100%;
	float:left;
}
.notiItemContent p{
	font-size:12px;
	font-weight:400;
	line-height:20px;
	margin:0;
	color:#ccc;
	float:left;
}
.highlight{
	background:#efecec;;
}

.highlight p{
	color:#333;
}
.searchResult{
	float:left;
}
.searchResult .searchBox{
	display:none;
}

#result{
	float:left;
	width:100%;
}
.map{
	width:70%;
	float:left;
	position:fixed;
}
.map.exp{
	width:50%;
	float:left;
	position:fixed;
}
.resultPanel{
	width:30%;
	float:left;
	padding:30px 30px 0px 30px;
	position:fixed;
	right:0;
}
.resultPanel.exp{
	width:50%;
	float:left;
	padding:30px 30px 0px 30px;
	position:fixed;
	right:0;
}
.resultTop{
	float:left;
	width:100%;
}
.searchBar{
	float:left;
	width:100%;
}
.searchBar input{
	border: 1px solid #CCC;
	border-right:none;
	background: none;
	color: #000;
	border-bottom-left-radius: 40px !important;
	border-top-left-radius: 40px !important;
	border-bottom-right-radius: 1px;
	border-top-right-radius: 1px;
	height: 54px;
	box-shadow: none !important;
	outline: none !important;
	-webkit-box-shadow: none !important;
	width:80%;
	padding-right: 0;
}
.searchBar button{
	width:20%;
	border: 1px solid #ccc;
	border-left: none;
	border-bottom-right-radius: 40px !important;
	border-top-right-radius: 40px !important;
	border-bottom-left-radius: 1px;
	border-top-left-radius: 1px;
	background: none;
	margin-left: -4px;
	color: #000;
	height: 54px;
	box-shadow: none !important;
	outline: none !important;
	-webkit-box-shadow: none !important;
	padding-right:0;
	padding-top: 12px;
}
.filterBar{
	padding:23px 0px;
	margin:auto;
	vertical-align:middle;
	width:100%;
	float:left;
}
.filterBar img{
	float:left;
	margin-right:20px;
	vertical-align:middle;
	width:24px;
	cursor:pointer;
}
.pageNav{
	float:right;
	vertical-align:middle;
}
.pageNav a{
	width:24px;
	height:24px;
	color:#000;
	font-weight:600;
	padding:8px 14px;
	font-size:14px;
}
.pageNav a.number{
	color:#ccc;
}
.pageNav a.act{
	background:#6F93F9;
	border-radius:50%;
	color:#fff;
}
.resultListing{
	width:100%;
	float:left;
	overflow-y:auto;
	overflow-x:hidden;
}
.resultItem{
	padding:10px;
	border:1px solid #ccc;
	background:linear-gradient(#eee, #fff);
}
.resultItem:hover{
	background:#fff;
}
.resultItemAva{
	width:20%;
	float:left;
	vertical-align:middle;
}
.resultItemAva img{
	width:100%;
}
.resultItemContent{
	width:75%;
	float:left;
	padding-left:10px;
	vertical-align:middle;
}
.resultItemContent h7{
	display:contents;
}
.resultItemView{
    width: 5%;
    float: right;
    right: -10px;
    position: relative;
    top: -10px;
}
.resultItemView div{ 
	background:url(../assets/combined-shape.svg) no-repeat;
    background-size: auto auto;
	background-size: cover;
	width: 60px;
	height: 60px;
	right: 0;
	top:0;
	position: absolute;
}
.resultItemView:hover div{
	filter: invert(1) sepia(1) saturate(141) hue-rotate(191deg);
}
.resultItemView img{    
	width: 28px;
    height: 28px;
    position: relative;
    right: 24px;
    top: 8px;
	filter: invert(1) sepia(1) saturate(141) hue-rotate(191deg);
	
}
.resultItemView:hover img{
	filter: invert(1) sepia(1) saturate(0) hue-rotate(191deg);
}
.filterPanel{
	position:fixed;
	display:none;
	background:#fff;
	width:320px;
	box-shadow: 0px 3px 18px -10px rgba(0,0,0,0.5);
	overflow-y:auto;
}

.sortPanel{
	position:fixed;
	display:none;
	background:#fff;
	box-shadow: 0px 3px 18px -10px rgba(0,0,0,0.5);
	overflow-y:auto;
}
.filterPanel h7{
	display:contents;
}
.item01{
	padding:20px;
	border-bottom:1px solid #CCC;
}
.item01 ul li{
	padding:10px 0px;
}
.item01 ul li:last-child{
	padding-bottom:0px;
}
.item01 ul li .customRadio{
	padding-left:25px;
	font-size:16px;
	line-height:24px;
	font-weight:500;
}
.endItem{
	padding:20px 20px;
}

.endItem p{
	color:#1046f1;
}
.endItem button{
	padding:15px;
	width:48%;
	background:#eee;
	color:#000;
	height:50px;
}
.endItem button:last-child{
	background:#6f93f9;
	color:#fff;
}
.expandBtn{
	padding:15px;
	background:#f8f9fb;
	position:absolute;
	cursor:pointer;
}
.expandBtn img{
	width:24px;
	height:24px;
	filter: invert(0) sepia(0) saturate(1);
}
.col01{
	width:25%;
	float:left;
	margin:0 10px 0 0;
	padding:0 10px 0 0;
}
.col02{
	width:17%;
	float:left;
	margin:0 10px;
	padding:0 10px;
}
.col03{
	width:28%;
	float:left;
	margin:0 10px;
	padding:0 10px;
}
.col04{
	width:19%;
	float:left;
	margin:0 10px;
	padding:0 10px;
}
