@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=vietnamese');

body{
	font-family: 'Montserrat', sans-serif;
	outline:none !important;
}
:focus{
	outline:none !important;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #CCC; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999; 
}
h1,h2,h3,h4,h5,h6,h7{
	font-family: 'Montserrat', sans-serif;
}
h1{
	font-size:64px;
	line-height:80px;
	font-weight:700;
}
h2{
	font-size:48px;
	line-height:60px;
	font-weight:700;
}
h3{
	font-size:40px;
	line-height:50px;
	font-weight:700;
}
h4{
	font-size:36px;
	line-height:45px;
	font-weight:700;
}
h5{
	font-size:32px;
	line-height:40px;
	font-weight:700;
}
h6{
	font-size:24px;
	line-height:36px;
	font-weight:700;
}
h7{
	font-size:18px;
	line-height:27px;
}
a{
	text-decoration:none !important;
}
p{
	font-size:16px;
	line-height:24px;
}
ul{
	list-style:none;
	padding:5px;
}
p.small{
	font-size:14px;
	line-height:21px;
}
p.ssmall{
	font-size:12px;
	line-height:18px;
}
p.usmall{
	font-size:10px;
	line-height:16px;
}
ul > li{
	padding:10px 25px;
	font-size:15px;
	vertical-align:middle;
}
input, button {
	padding:10px 35px 10px 16px;
	border-radius:35px;
	border:none;
	background:#f8f9fb;
	box-shadow:none;
     outline:none; 
     -webkit-box-shadow:none;
	 height:54px;
}
textarea{
	border:1px solid #CCC;
	border-radius:8px;
	background:#f8f9fb;
}
.bold{
	font-weight:800;
}

.bold500{
	font-weight:500;
}
.bold600{
	font-weight:600;
}
.bold300{
	font-weight:300;
}
.bold200{
	font-weight:200;
}
.btn-primary{
	background:#6F93F9;
}
.btn-primary:hover{
	background:#1046f1;
}

.gottopping > a{
	padding:16px 20px;
	font-size:20px;
	bottom:15px;
	right:15px;
	position:fixed;
	background:#1046f1;
	color:#fff;
	border-radius:40px;
}
.gottopping:hover{
	cursor:pointer;
}
label{
	margin-left:15px;
}
.tempBtn1{
	padding:8px 8px;
	font-size:14px;
	bottom:80px;
	right:15px;
	position:fixed;
	background:#1046f1;
	color:#fff;
	border-radius:40px;
}
.tempBtn2{
	padding:8px 8px;
	font-size:14px;
	bottom:130px;
	right:15px;
	position:fixed;
	background:#1046f1;
	color:#fff;
	border-radius:40px;
}
.tempBtn3{
	padding:8px 8px;
	font-size:14px;
	bottom:180px;
	right:15px;
	position:fixed;
	background:#1046f1;
	color:#fff;
	border-radius:40px;
}
.tempBtn4{
	padding:8px 8px;
	font-size:14px;
	bottom:230px;
	right:15px;
	position:fixed;
	background:#1046f1;
	color:#fff;
	border-radius:40px;
}
.tempBtn5{
	padding:8px 8px;
	font-size:14px;
	bottom:330px;
	right:15px;
	position:fixed;
	background:#1046f1;
	color:#fff;
	border-radius:40px;
}
.tempBtn6{
	padding:8px 8px;
	font-size:14px;
	bottom:400px;
	right:15px;
	position:fixed;
	background:#1046f1;
	color:#fff;
	border-radius:40px;
}
.modal-dialog{
	margin-top:20%;
}
.modal-body > img{
}
.modal-footer > .btn{
	border-radius:40px;
}
.notification{
	width:200px;
	padding:20px;
	right:20px;
	bottom:100px;
	background:#fff;
	position:fixed;
	display:block;
	z-index:999;
	text-align:center;
	border-radius:14px;
	box-shadow: 0px 7px 18px -8px rgba(0,0,0,0.75);
}
.notification > a{
	color:#fff;
	background:#1046f1;
	padding:5px 10px;
	border-radius:40px;
	margin:8px auto;
	cursor:pointer;
	float:left;
	width:100%;
}
.iconSVG {
	vertical-align:middle;
}
.whiteSVG{
	filter: invert(1) sepia(1) saturate(0);
}
.blackSVG{
	filter:none;
}
#feedback .modal-header{
	padding:30px 20px 20px 20px;
}

.feedbackIcon > li{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.feedbackIcon > li:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.feedbackIcon > .active{
    -webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) !important;
}
.fbCategory > .active{
	background:#1046f1;
	color:#fff;
	box-shadow: 0px 7px 18px -8px rgba(0,0,0,0.75);
}
.fbCategory > .active > a{
	color:#fff;
}
.fbCategory > li{
	width:31%;
	float:left;
	margin:5px 6px;
	text-align:center;
	border-radius:15px;
	font-size:16px;
	line-height:24px;
	height:88px;
	position: relative;
	background:#e8eaef;
	vertical-align:middle;
}
.fbCategory > li > a{
	color:#333;
	vertical-align:middle;
	margin:auto 0;
}
.fbCategory > li > a:hover{
	color:#fff;
}
.fbCategory > li:hover{
	background:#1046f1;
	color:#fff !important;
	box-shadow: 0px 7px 18px -8px rgba(0,0,0,0.75);
}
.fbCategory > li:hover > a{
	color:#fff !important;
}
.fbContent, .fbCat, .fbSelect{
	padding:20px;
}
.fbContent > textarea{
	width:100%;
	height:100px;
	resize:none;
	border:1px solid #999;
	padding:5px;
}
.fbSelect .nav-tabs{
	border:none;
}
.customCard{
	background: #fafbfc;
	width: 100%;
	height: 54px;
	color: #000;
	border-radius:35px;
	text-decoration:none;
	vertical-align:middle;
	text-align:left;
	padding-left:26px;
	box-shadow:none !important;
     outline:none !important; 
     -webkit-box-shadow:none !important;
}
.customCard:hover{
	background: #1046f1;
	color: #fff;
	text-decoration:none;
}
.customCard:hover > .blackSVG{
	filter: invert(1) sepia(1) saturate(0);
}
.customCard:focus{
	background: #1046f1;
	color: #fff;
	text-decoration:none;
}
.customCard:focus > .blackSVG{
	filter: invert(1) sepia(1) saturate(0);
}
.customCard > .blackSVG,h7{
	float:left;
	vertical-align:middle;
}
.customCard > svg{
	float:right;
	height:24px;
	font-size:16px;
	font-weight:300;
	vertical-align:middle;
	margin-right:10px;
}
#content{
	margin-top:30px;
	margin-bottom:20px;
}
.card-body{
	padding:6px 14px;
}
.form-group input[type='text']{
	border-radius:35px;
	height:50px;
	background:#f8f9fb;
}
.form-group input[type='password']{
	border-radius:35px;
	height:50px;
	background:#f8f9fb;
}
.form-group button{
	border-radius:35px;
	height:50px;
}
.btn-secondary:focus{
	color:#000;
}
.form-group .wrongInfo {
	border:rgba(255,102,0,0.6) 1px solid;
	color:#rgba(255,102,0,1);
	box-shadow: 0px 1px 15px -5px rgba(255,102,0,0.6);
}
.modalLeft{
	width:50%;height:680px; float:left;background:#fff; padding:50px 70px; border-bottom-left-radius:6px; border-top-left-radius:6px; text-align:left;
}
.modalRight{
	width:50%;height:680px; float:right; background:#e8eaef; text-align:center; padding:40px 30px; border-bottom-right-radius:6px; border-top-right-radius:6px;
}
.modalRight button{
	top: 15px; right: 15px; position: absolute; opacity:0.8; font-size:28px;
}


/*CSS for custom checkbox*/
.customCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
	padding-top:0px;
	padding-bottom:0px;
    cursor: pointer;
    font-size: 17px;
	font-weight:400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	vertical-align:middle
}

/* Hide the browser's default checkbox */
.customCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.customCheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customCheck input:checked ~ .checkmark {
    background-color: #1046f1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customCheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customCheck .checkmark:after {
    left: 7px;
	top: 1px;
	width: 7px;
	height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*CSS for custom checkbox*/



/*CSS for custom radio button*/
 /* Customize the label (the container) */
.customRadio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.customRadio input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmarkRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  border:1px solid #999;
}

/* On mouse-over, add a background color */
.customRadio:hover input ~ .checkmarkRadio {
  background-color: #1046f1;
  border:5px solid #EEE;
}


/* When the radio button is checked, add a blue background */
.customRadio input:checked ~ .checkmarkRadio {
  background-color: #1046f1;
  border:5px solid #EEE;
  color: #1046f1;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.customRadio input:checked ~ .checkmarkRadio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.customRadio .checkmarkRadio:after {
  top: 9px;
  left: 9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border:6px solid #EEE;
}

.divider{
	border-bottom:1px solid #999999; height:5px; float:left; width:100%;
}
.E8EAEF{
	color:#E8EAEF !important;
}
.CCCCCC{
	color:#CCCCCC !important;
}