@charset "utf-8";
/* CSS Document */

@media (min-width:769px) and (max-width: 1024px) {
.container{
	padding-left: 5px;
	padding-right: 5px;
	width: 90%;
}
.topNavHome .navContent {
	padding: 0;
}
.catItem{
	margin:10px 13px !important;
	width: 22% !important;
}
.aboutSmartItem {
    width: 33% !important;
    float: left;
    height: 400px;
    margin-bottom: 60px;
}

.aboutStatisticItem{
	padding:0;
	float:left;
	width: auto;
	height: auto;
	margin-right: 0;
}
.aboutStatisticItem:nth-child(4){
	margin-right: 0px;
}
.aboutStatisticContent{
	float:left;
	background:#fff;
	border-radius:8px;
	box-shadow: 0px 7px 72px -8px rgba(0,0,0,0.0);
	width: 270px;
	height: 210px;
	margin-right: 30px;
	
}
.aboutStatisticContent > img {
    float: right;
    margin-right: 20px;
    margin-top: 50px;
    width: 48px;
    filter: invert(0.5) sepia(57.5) saturate(31) grayscale(4);
    opacity: 0.5;
    position: relative;
}


.col01{
	width:24%;
	height:60px;
	float:left;
	margin:0 20px 0 0;
	padding:0;
}
.col02{
	width:19%;
	float:left;
	margin:0 20px 0 0;
	padding:0;
}
.col03{
	width:30%;
	float:left;
	margin:0 20px 0 0;
	padding:0;
}
.col04{
	width:19%;
	float:left;
	margin:0 0;
	padding:0 0;
}

.listSubMenu a {
	font-size: 13px;
	line-height: 21px;
}
.listSubMenu li {
    padding: 0px 14px;
}
.footerLeftContent p{
	font-size: 12px;
	line-height: 22px;
    margin: 19px 0px 20px 0;
}
.footerLeftContent {
    width: 31%;
}
.footerRightContent {
    width: 69%;
}
.basicIntroDesc {
    width: calc(100% - 110px);
    margin-right: 40px;
}
.connectBody.bodySC img {
    margin: 80px 68px;
}
.featureCategory2 .connectHeader {
    margin-left: 50px;
}
.codeSelectItem {
    margin-right: 40px;
}
.featureCertItem {
    width: 30%;
}
.featureProductItem{
	width: 30%;
	margin-right: 30px;
}
.featureProductItem:nth-child(3n+3){
	margin-right: 0;
}
.featureProductItem:nth-child(4n+4){
	margin-right: 30px;
}
.featureProductItem img {
    width: 100%;
}
.productDetailPanel .modal-dialog {
	width: 90%;
	height: auto;
}
.productDetailPanel .modal-content {   
	width: 100%;
    height: auto;
    float: left;
    padding-bottom: 30px;
}
.topImgGalleryProduct {
	height: auto;
	max-height: 470px;
}
.itemGal01 {
    width: 100%;
    height: auto;
}
#signup .modal-dialog {
    width: 95%;
    height: 728px;
    margin-top: 20px;
}
.modalLeft {
	width: 50%;
	padding: 50px 30px;
}
.modalRight {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}
.modalRight img {
    margin: 130px 0px 0px 00px;
    width: 100%;
	height: auto;
}
#login .modal-dialog {
    width: 95%;
    height: 600px;
    margin-top: 20px;
}
.provinceDetailPanel .modal-dialog {
    width: 90%;
    margin-top: 10px;
}
.levelInfoItem {
    width: 45%;
    height: 564px;
    border-top: 4px solid #fff;
    background: #fff;
    border-radius: 7px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 40px;

}
.listAboutItem {
    width: 31%;
    margin-right: 26px;
}
.whoImg img {
    margin: 0 30px 0 0;
    width: 135px;
    height: 135px;
}
.leftColAbout {
    margin-top: -360px;

}
.leftColAbout h2{
	margin-left: 5px;
}

.contactLeft {
	height: 950px;

}
.contactRight {
	height: 950px;

}
.contactForm {
	height: 950px;
}

.connectHeader h7{
	width:100%;
	float:left;
}
}



@media only screen and (max-width: 769px) {

	.controlS{
		width:90%;
		margin:0 auto;
	}
	.searchInfo .controlS > input{
		border-bottom-right-radius:unset !important;
		border-top-right-radius:unset !important;
		border:hidden;
		width: calc(100% - 80px);
		font-size:16px;
		line-height: 24px;
		color: #000;
		height:64px;
	}
	.searchInfo .controlS > button{
		border-bottom-left-radius:unset !important;
		border-top-left-radius:unset !important;
		background:#1046f1;
		margin-left:-7px;
		border:none;
		color:#fff;
		padding:20px 29px;
		width:80px;
		height:64px;
		float:right;
	}
	
	.searchInfo > .para01{
		width:90%;
		height:54px;
		margin:20px auto 115px auto;
	}
	.searchInfo > .para02{
		width:90%;
		height:63px;
		margin:0 auto 49px auto;
	}


	.topNavHome .navContent {
		padding: 0;
	}
	.catItem{
		margin:10px !important;
		width: 30% !important;
	}
	div.aboutSmart > h2 {
		width: 90%;
		margin: 60px auto 30px auto;
	}
	.aboutSmartItem {
		height: 455px;
	}
	
	.aboutStatistic > div.container > h2{
		width:auto;
	}
	.aboutStatistic > div.container > p{
		width:auto;
	}
	.listSubMenu a {
		font-size: 13px;
		line-height: 6px;
	}
	.footerLeftContent p{
		font-size: 12px;
		line-height: 18px;
		margin: 12px 0px 12px 0;
	}
	.col01{
		width:45%;
		height:60px;
		float:left;
		margin:0 20px 30px 0;
		padding:0;
	}
	.col02{
		width:45%;
		float:left;
		margin:0 20px 30px 0;
		padding:0;
	}
	.col03{
		width:45%;
		float:left;
		margin:0 20px 0 0;
		padding:0;
	}
	.col04{
		width:45%;
		float:left;
		margin:0 0;
		padding:0 0;
	}

	.connectBodyContent {
		width: 100%;
	}
	
	.featureCategory2 .connectHeader {
		margin-left: 30px;
	}
	.featureVerticalDivider {
		height: 312px;
	}
	.codeSelectItem {
		width: 45%;
		margin-right: 20px;
	}
	.codeSelection .connectBody {
		padding-left: 60px;
		margin-top: 10px;
	}
	.featureCertItem {
		width: 30%;
		margin-right: 15px;
	}
	.featureCertItemYear {
		margin-left: 132px;
	}
	.featureProductItem{
		width: 30%;
		height: 500px;
		margin-right: 30px;
	}
	.featureProductItem:nth-child(3n+3){
		margin-right: 0;
	}
	.featureProductItem:nth-child(4n+4){
		margin-right: 30px;
	}
	.featureProductItem img {
		width: 100%;
	}
	.featureProductItemContent img {
		width: 24px;
	}
	.modalRight img {
		margin: 130px 0px 0px 00px;
		width: 100%;
		height: auto;
	}
	#profileBanner .companyIntroAvatar {
		width: 100px;
		height: 100px;
		float: left;
		padding-right: 1rem;
	}
	#profileBanner .companyName {

		padding: 20px 0 13px 30px;
		display: table;
		vertical-align: middle;
		margin: 0 auto;

	}
	#profileBanner .myCompany {
		margin-top: 0;
	}
	#profileEdit .myCompany {
		margin-top: 276px;
	}
	.profileRight > img.imgNameCard {
		width: 100%;
		height: auto;
	}
	#setting .formControl{
		width: 100%;
	}
	.companyIntroduce {

		padding: 0;
		float: left;
		margin-top: 176px;
		position: relative;
	
	}
	
	.levelInfoItem {
		width: 45%;
		height: 564px;
		border-top: 4px solid #fff;
		background: #fff;
		border-radius: 7px;
		margin-right: 18px;
		margin-left: 18px;
		margin-bottom: 40px;

	}
	.myCompany.changeCover{
		margin-top: 12px;
	}
	.listAboutItem {
		width: 32%;
		margin-right: 14px;
		height: 450px;	
	}
	.whoImg img {
		margin: 0 38px 30px 38px;
		width: 170px;
		height: 170px;
	}
	.whoImg img:last-child {
		margin: 0 38px 30px 38px;
	}
	.leftColAbout {
		margin-top: -360px;
	
	}
	.leftColAbout h2{
		margin-left: 5px;
	}
	.aboutBlock2 {
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 27%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 27%);
	
	}
	.contactLeft {
		height: 960px;
	
	}
	.contactRight {
		padding: 40px 30px;
		height: 960px;
	
	}
	.contactForm {
		height: 960px;
	}
	#companyInfo {
		padding-top: 30px;
	}
}